<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name></display-name>	
	
<!-- spring配置文件地址参数 -->
		<context-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:/cache/applicationContext-ehcache.xml,
				classpath:/security/applicationContext-security.xml,
				classpath:/applicationContext.xml,
				classpath:/log/applicationContext-log.xml
			</param-value>
		</context-param>
<!-- 登录验证码过滤器 -->
		<filter>
			<filter-name>verifyCodeFilter</filter-name>
			<filter-class>com.yuchengtech.mobile.console.filter.VerifyCodeFilter</filter-class>
			<init-param>
				<param-name>failureUrl</param-name>
				<param-value>/login.jsp?error=2</param-value>
			</init-param>
			<init-param>
				<param-name>paramName</param-name>
				<param-value>j_verify_code</param-value>
			</init-param>
		</filter>
		<filter-mapping>
			<filter-name>verifyCodeFilter</filter-name>
			<url-pattern>/j_spring_security_check</url-pattern>
		</filter-mapping>
		<filter-mapping>
			<filter-name>verifyCodeFilter</filter-name>
			<url-pattern>/verifyCode.jpg</url-pattern>
		</filter-mapping>
<!-- 字符编码过滤器 -->
		<filter>
			<filter-name>encodingFilter</filter-name>
			<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
			<init-param>
				<param-name>encoding</param-name>
				<param-value>UTF-8</param-value>
			</init-param>
			<init-param>
				<param-name>forceEncoding</param-name>
				<param-value>true</param-value>
			</init-param>
		</filter>
		<filter-mapping>
			<filter-name>encodingFilter</filter-name>
			<url-pattern>/*</url-pattern>
		</filter-mapping>
<!-- springSecurity必须的过滤器，用于使过滤器支持spring容器 -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
    <!-- spring主要Listener -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	  <!-- 用于解决框架并用时可能产生的内存泄漏 -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	<!-- springMVC主要servlet -->	
  	<servlet>
		<servlet-name>springServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:/springmvc/spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	

	

	
	
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>
